@charset "utf-8";
/* -----------
    Components
   ----------- */
body{
	width:100%;
	margin:0px;
	color:#FFFFFF;
	font-family:"Century Gothic",sans-serif;
	background-color:#e1e1ea;
	color:#FFFFFF;
    font-size:larger;
    margin-left: 0px; 
    margin-right: 0px;
}

p {
	font-size: 26px;
}

h1 { 
	color: #FFFFFF;
	font-family: "Century Gothic",
	sans-serif;
	font-weight: 600;
	font-size: 50px;
	text-align: center;
	text-transform: uppercase;
	margin-top: 0px;
	margin-bottom: 0px;
}

h2 { 
	color: #FFFFFF;
	font-family: "Century Gothic",sans-serif;
	font-weight: 600;
	font-size: 35px;
	text-align: center;
	text-decoration:underline;
}


.fixed-nav-bar {
	position: fixed;
	top: 0px;
	left: 0;
	z-index: 9999;
	width: 100%;
	height: 60px;
	background-color: #0066ff;
}

.fixed-footer-bar {
	position: fixed;
	bottom: 15px;
	right: 15px;
	z-index: 9999;
	height: 22px;
	color: #000000;
	text-transform: uppercase; 
}

#wrapper {
	background-color: #e1e1ea;
	width: 100%;
	min-width: 740px;
	max-width: 1920px;
	margin-left: auto;
	margin-right: auto;
}

#top {
	margin-top: 0px; 
	padding-top:60px;
}

#main {
	width: 100%;
	margin-left: 0%;
	margin-right: 0%;
	float: left;
	text-align: center;
}

#mainnav ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#mainnav li {
	width: 90%;
	display: block;
	float: left;
	font-size: 30px;
	background-color:  #0066ff;
	color: #FFFFFF;
	text-transform: uppercase; 
	padding-top: 13px;
	padding-left: 50px;
	padding-bottom: 0px;
	text-decoration: none;
}

#subnav ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#footnav ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#footnav a {
	text-decoration: none;
}

#bottom {
	margin-bottom: 80px;
}
